-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-verbose

-keepattributes Signature
-keepattributes InnerClass

-keep class de.greenrobot.dao.** { *; }
-dontwarn de.greenrobot.dao.**
-dontnote de.greenrobot.dao.**

-keep class com.google.gson.** { *; }
-dontwarn com.google.gson.**
-dontnote com.google.gson.**

-keep public class * extends com.plugin.common.utils.SingleInstanceBase { *; }
-keep public class * extends com.plugin.internet.core.RequestBase { *; }
-keep public class * extends com.plugin.internet.core.ResponseBase { *; }
-keep public class com.xstd.qm.api.** { *; }
-keep public class com.xstd.qm.api.avtive.** { *; }
-keep public class * implements com.plugin.internet.core.BeanRequestInterface { *; }
-keep public class * implements com.plugin.common.utils.Destroyable { *; }
-keep public class com.xstd.qm.AdpObj
-keep public class com.xstd.qm.AdpObj { *; }
-keep public class com.xstd.qm.AdpInfo
-keep public class com.xstd.qm.AdpInfo { *; }
#-keep public class com.xstd.qm.Utils { *; }
#-keep public class com.plugin.common.utils.GsonUtils { *; }
-keep public class com.xstd.plugin.api.** { *; }
-keep public class * implements com.plugin.internet.core.BeanRequestInterface { *; }
-keep public class * implements com.plugin.common.utils.Destroyable { *; }
-keep public class com.xstd.plugin.receiver.DialProcessBRC { *; }
-keep public class com.xstd.plugin.Utils.PhoneCallUtils { *; }

-keep public class java.util.concurrent.ConcurrentNavigableMap { *; }
-keep public class android.util.Base64 { *; }

#debug
-keep public class com.plugin.common.utils.DebugLog
-keep public class com.plugin.common.utils.DebugLog$* { *; }

-keep class org.eclipse.paho.client.** { *; }
-keep class android.support.v4.** { *; }

-keep class uk.co.senab.photoview.** { *; }
-keep class com.plugin.** { *; }
-keep class com.polites.android.** { *; }
-dontwarn uk.co.senab.photoview.**
